body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1244px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:0px;
  width:632px;
  height:1101px;
}
#u5440_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:1101px;
  overflow:auto;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:165px;
  width:376px;
  height:792px;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:167px;
  width:372px;
  height:788px;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:360px;
  height:640px;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:195px;
  width:168px;
  height:10px;
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:907px;
  width:168px;
  height:10px;
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5456 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:360px;
  height:24px;
}
#u5457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:243px;
  width:100px;
  height:13px;
}
#u5459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:85px;
  width:156px;
  height:40px;
  font-size:28px;
  text-align:left;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:152px;
  word-wrap:break-word;
}
#u5463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:999px;
  width:1244px;
  height:87px;
}
#u5466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:812px;
  width:90px;
  height:65px;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:2px;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:830px;
  width:7px;
  height:2px;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:2px;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:830px;
  width:5px;
  height:2px;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:2px;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:836px;
  width:5px;
  height:2px;
}
#u5477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:2px;
}
#u5478 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:836px;
  width:6px;
  height:2px;
}
#u5479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u5480 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:823px;
  width:4px;
  height:2px;
}
#u5481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:2px;
}
#u5482 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:823px;
  width:8px;
  height:2px;
}
#u5483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u5484 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:822px;
  width:4px;
  height:5px;
}
#u5485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u5486 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:835px;
  width:4px;
  height:5px;
}
#u5487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u5488 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:828px;
  width:4px;
  height:5px;
}
#u5489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5490 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:853px;
  width:30px;
  height:20px;
  text-align:center;
}
#u5491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  white-space:nowrap;
}
#u5492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5493 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:812px;
  width:90px;
  height:65px;
}
#u5494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5496 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:822px;
  width:15px;
  height:15px;
}
#u5497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u5498 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:826px;
  width:7px;
  height:7px;
}
#u5499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:3px;
}
#u5500 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:820px;
  width:1px;
  height:3px;
}
#u5501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:3px;
}
#u5502 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:837px;
  width:1px;
  height:3px;
}
#u5503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
}
#u5504 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:830px;
  width:3px;
  height:1px;
}
#u5505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
}
#u5506 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:830px;
  width:3px;
  height:1px;
}
#u5507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5508 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:853px;
  width:44px;
  height:20px;
  text-align:center;
}
#u5509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  white-space:nowrap;
}
#u5510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5511 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:812px;
  width:90px;
  height:65px;
}
#u5512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u5514 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:822px;
  width:12px;
  height:15px;
}
#u5515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u5516 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:820px;
  width:16px;
  height:9px;
}
#u5517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
}
#u5518 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:821px;
  width:1px;
  height:6px;
}
#u5519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5520 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:853px;
  width:59px;
  height:20px;
  text-align:center;
}
#u5521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:59px;
  white-space:nowrap;
}
#u5522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5523 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:812px;
  width:90px;
  height:65px;
}
#u5524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u5526 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:819px;
  width:11px;
  height:14px;
}
#u5527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:7px;
}
#u5528 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:832px;
  width:20px;
  height:7px;
}
#u5529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5530 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:853px;
  width:30px;
  height:20px;
  text-align:center;
}
#u5531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  white-space:nowrap;
}
#u5532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u5532 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:812px;
  width:360px;
  height:1px;
}
#u5533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5535 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:812px;
  width:90px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5537 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:812px;
  width:90px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5539 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:812px;
  width:90px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5541 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:812px;
  width:90px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5543 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:812px;
  width:90px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5545 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:812px;
  width:90px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5547 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:812px;
  width:90px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5549 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:813px;
  width:90px;
  height:64px;
}
#u5550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u5552 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:822px;
  width:12px;
  height:15px;
}
#u5553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u5554 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:820px;
  width:16px;
  height:9px;
}
#u5555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
}
#u5556 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:821px;
  width:1px;
  height:6px;
}
#u5557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
  text-align:center;
}
#u5558 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:853px;
  width:59px;
  height:20px;
  color:#169BD5;
  text-align:center;
}
#u5559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:59px;
  white-space:nowrap;
}
#u5560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5561 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:261px;
  width:360px;
  height:38px;
}
#u5562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5563 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:264px;
  width:128px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u5565 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:299px;
  width:360px;
  height:513px;
}
#u5565_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:513px;
  overflow:hidden;
}
#u5566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5568 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:292px;
  width:129px;
  height:40px;
}
#u5569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u5570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5570 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:352px;
  width:50px;
  height:50px;
}
#u5571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5572 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:429px;
  width:129px;
  height:40px;
}
#u5573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u5574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5574 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:492px;
  width:50px;
  height:50px;
}
#u5575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5577 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:299px;
  width:360px;
  height:513px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5578 {
  position:absolute;
  left:0px;
  top:0px;
}
#u5578_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:241px;
  height:427px;
  background-image:none;
}
#u5578_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5579 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:327px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5578_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:442px;
  height:878px;
  visibility:hidden;
  background-image:none;
}
#u5578_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:641px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5581 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:237px;
  width:362px;
  height:641px;
  opacity:0.6;
}
#u5582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5583 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:681px;
  width:347px;
  height:127px;
}
#u5584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
  text-align:center;
}
#u5585 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:685px;
  width:128px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
  text-align:center;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
#u5587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:729px;
  width:128px;
  height:32px;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:128px;
  word-wrap:break-word;
}
#u5589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:771px;
  width:128px;
  height:32px;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:128px;
  word-wrap:break-word;
}
#u5591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#168ABD;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:814px;
  width:347px;
  height:58px;
  font-size:18px;
  color:#168ABD;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:343px;
  word-wrap:break-word;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:685px;
  width:347px;
  height:129px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:327px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:449px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:449px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:570px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:570px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:684px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:64px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:580px;
  width:129px;
  height:64px;
  color:#FF0000;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:125px;
  word-wrap:break-word;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:602px;
  width:0px;
  height:0px;
  color:#00CB6A;
}
#u5602_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u5602_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-46px;
  width:8px;
  height:50px;
}
#u5602_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-46px;
  width:138px;
  height:8px;
}
#u5602_seg3 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:-46px;
  width:8px;
  height:60px;
}
#u5602_seg4 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:6px;
  width:72px;
  height:8px;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
