body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:383px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:513px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:248px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:536px;
}
#u784_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:536px;
  overflow:scroll;
}
