body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1244px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:165px;
  width:376px;
  height:792px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:167px;
  width:372px;
  height:788px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:360px;
  height:640px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:195px;
  width:168px;
  height:10px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:907px;
  width:168px;
  height:10px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:360px;
  height:24px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:243px;
  width:100px;
  height:13px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:85px;
  width:156px;
  height:40px;
  font-size:28px;
  text-align:left;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:152px;
  word-wrap:break-word;
}
#u1864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:999px;
  width:1244px;
  height:87px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:261px;
  width:360px;
  height:38px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:270px;
  width:14px;
  height:20px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:264px;
  width:128px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:269px;
  width:20px;
  height:20px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:261px;
  width:36px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:309px;
  width:360px;
  height:80px;
  font-size:14px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:309px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:349px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:342px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:399px;
  width:360px;
  height:80px;
  font-size:14px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:399px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:439px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:432px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:489px;
  width:360px;
  height:80px;
  font-size:14px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:489px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:529px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:522px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:579px;
  width:360px;
  height:80px;
  font-size:14px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:579px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:619px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:612px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:669px;
  width:360px;
  height:80px;
  font-size:14px;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:669px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:709px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:702px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:261px;
  width:38px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:389px;
  width:140px;
  height:40px;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:369px;
  width:0px;
  height:0px;
}
#u1927_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:216px;
  height:8px;
}
#u1927_seg1 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:-4px;
  width:8px;
  height:48px;
}
#u1927_seg2 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:36px;
  width:94px;
  height:8px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:256px;
  width:140px;
  height:40px;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:279px;
  width:0px;
  height:0px;
}
#u1931_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:221px;
  height:8px;
}
#u1931_seg1 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:-7px;
  width:8px;
  height:11px;
}
#u1931_seg2 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:-7px;
  width:94px;
  height:8px;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:51px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:459px;
  width:220px;
  height:51px;
  text-align:left;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
