body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1244px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:165px;
  width:376px;
  height:792px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:167px;
  width:372px;
  height:788px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:360px;
  height:640px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:195px;
  width:168px;
  height:10px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:907px;
  width:168px;
  height:10px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:360px;
  height:24px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:243px;
  width:100px;
  height:13px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:85px;
  width:156px;
  height:40px;
  font-size:28px;
  text-align:left;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:152px;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:999px;
  width:1244px;
  height:87px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:261px;
  width:360px;
  height:38px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:270px;
  width:14px;
  height:20px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:264px;
  width:128px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:269px;
  width:20px;
  height:20px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:389px;
  width:140px;
  height:40px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:369px;
  width:0px;
  height:0px;
}
#u1236_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:216px;
  height:8px;
}
#u1236_seg1 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:-4px;
  width:8px;
  height:48px;
}
#u1236_seg2 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:36px;
  width:94px;
  height:8px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:256px;
  width:140px;
  height:40px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:279px;
  width:0px;
  height:0px;
}
#u1240_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:221px;
  height:8px;
}
#u1240_seg1 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:-7px;
  width:8px;
  height:11px;
}
#u1240_seg2 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:-7px;
  width:94px;
  height:8px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:95px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:459px;
  width:220px;
  height:95px;
  text-align:left;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:261px;
  width:36px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:309px;
  width:360px;
  height:120px;
  font-size:14px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:309px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:349px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:342px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:389px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:261px;
  width:37px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:439px;
  width:360px;
  height:120px;
  font-size:14px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:439px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:479px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:472px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:519px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:569px;
  width:360px;
  height:120px;
  font-size:14px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:569px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:609px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:602px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:649px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(60, 168, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:699px;
  width:360px;
  height:120px;
  font-size:14px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:699px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:739px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:732px;
  width:11px;
  height:15px;
  font-size:14px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:779px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:309px;
  width:360px;
  height:518px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
