body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1244px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:165px;
  width:376px;
  height:792px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:167px;
  width:372px;
  height:788px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:360px;
  height:640px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:195px;
  width:168px;
  height:10px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:907px;
  width:168px;
  height:10px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:360px;
  height:24px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:243px;
  width:100px;
  height:13px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:85px;
  width:156px;
  height:40px;
  font-size:28px;
  text-align:left;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:152px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:999px;
  width:1244px;
  height:87px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:81px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:357px;
  width:134px;
  height:81px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
  text-align:left;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:271px;
  width:98px;
  height:51px;
  color:#199ED8;
  text-align:left;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:649px;
  width:277px;
  height:49px;
  font-size:16px;
  color:#FFFFFF;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:273px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:507px;
  width:15px;
  height:15px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:583px;
  width:25px;
  height:23px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#199ED8;
  text-align:left;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:721px;
  width:73px;
  height:31px;
  font-size:16px;
  color:#199ED8;
  text-align:left;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#199ED8;
  text-align:right;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:721px;
  width:73px;
  height:31px;
  font-size:16px;
  color:#199ED8;
  text-align:right;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:490px;
  width:277px;
  height:49px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:49px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:280px;
  height:5px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:617px;
  width:277px;
  height:2px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:570px;
  width:277px;
  height:49px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:49px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:280px;
  height:5px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:539px;
  width:277px;
  height:2px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
